<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">

    <title>Login</title>
</head>

<body>
    <section class="geral-form">
        <div class="log-link">
            <h2>Hello and Welcome!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit similique distinctio ad saepe odit in quia ullam ducimus</p>
            <span><a href="#">Ja tens tens conta</a></span>
            <div class="contact-us">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <button><a href="/views/login.html">Log-In</a></button>
        </div>

        <div class="log-input">
            <h1>Sign Up in virtual library</h1>
            <div class="form-infor">
                <form action="">
                    <div class="input-infor">
                        <div class="input-detail">
                            <input type="text" name="name" placeholder="Digite o seu nome ">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="input-detail">
                            <input type="email" name="email" placeholder="Digite email valido">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="input-detail">
                            <input type="password" name="password" placeholder=" Digite a senha ">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <div class="input-detail">
                            <input type="password" name="repete_password" placeholder=" Repete a senha ">
                            <i class="fa-solid fa-lock-open"></i>
                        </div>
                    </div>

                    <div class="temos">
                        <div class="check-box">
                            <input type="checkbox" name="check" id="">
                        </div>

                        <div class="check-infor">
                            <p>Ao se cadastrar voce concorda com a nossa
                                <a href="#">Politica de privacidade</a> e os
                                <a href="#">Termos e condicoes</a>
                            </p>
                        </div>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>

    </section>
</body>

</html>